<!doctype html>
<head>
    <style> #chartDiv {width:100%;}</style>
    <title>Google Charts with Flask</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
         google.charts.load('current', {'packages':['corechart','table']});
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(googlecharts_is_ready);

        var chart;
        var graphdata;

        function reset_status_messages(){
            $("#status").html("")
        }

        function googlecharts_is_ready(){
            $("#buttonloadchart").show()
            $("#buttonloadchart").click()
            $("#status").html("Google charts is ready")
        }

        function loadChart(){
               getData_and_drawChart()    
        }

        function getData_and_drawChart(){
            getNewData()
        }


        function getNewData(){
            $("#status").html("Fetching data to plot graph...");

            jQuery.ajax({
                url: "/api/getdata" ,
                type: 'POST',
                error: function(jqXHR,textStatus, errorThrown ){
                     console.log("Error while ajax:" + textStatus)
                },
                success: function(ndata, textStatus, xhr){ 
                    //console.log(ndata)
                    
                    //console.log(ndata.chart_data)
                    $("#status").html("Data fetched! Now plotting graph!");
                    chartdata = ndata.chart_data
                    graphdata = createDataTable(chartdata)
                    drawLineChart(graphdata)
                    drawDataTable(graphdata)
                    $("#status").html("Graph plotted");
                }//end success
            });//end ajax
          } //end getNewData

        function createDataTable(newdata){
            graphdata = new google.visualization.DataTable();       
            graphdata.addColumn('string', 'Time');
            graphdata.addColumn('number', 'Light');
            var newdata = JSON.parse(newdata);
            
            for (index=0;index<newdata.length;index++){
                
                datetime = (newdata[index].datetimeid)
                datetime = datetime.substring(0, 19) //+ "+0000"             
                jsdatetime = new Date(Date.parse(datetime));
                jstime = jsdatetime.toLocaleTimeString();
                light = parseInt(newdata[index].value);
                graphdata.addRows([[jstime,light]]);
            }//end for
            return graphdata
        }
        
        function drawDataTable(graphdata){
            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(graphdata, {showRowNumber: true, width: '100%', height: '100%'});
    
        }//end drawTable

        function drawLineChart(graphdata) {
            chart = new google.visualization.LineChart(
            document.getElementById('chart_div'));
            chart.draw(graphdata, {legend: 'none', vAxis: {baseline: 0},
                colors: ['#A0D100']});
            return 
        } //end drawChart

        $(document).ready(function(){
            reset_status_messages()

            setInterval(function () {
                loadChart()
            }, 3000);
        });

</script>

<script>
    function getDHT(){
          jQuery.ajax({
               url: "/getDHT" ,
               type: 'POST',
               success: function(ndata, textStatus, xhr){ 
                   console.log(ndata)
                   $("#dhtstatus").html("Temperature:" + ndata.temperature + "<br/>" + "Humidity: " + ndata.humidity);
               }//end success
           });//end ajax
         } //end 
 
 
         $(document).ready(function(){
 
           setInterval(function () {
               getDHT();
           }, 5000);
 
       });
 
 </script>
 
</head>
<body>
        <input id="buttonloadchart" type="button" onclick="loadChart()" value="Update graph">
        <div id="status"></div>
        <div id="chart_div" style="width:100%"></div>
        <div id="table_div" style="width:100%"></div>
        <div class="temperature"> <span id="dhtstatus"> </span></div>
</body>
</html>
